/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   @import "compass/css3";

   @mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}
*{ box-sizing:border-box;}


   /* -------------------- Base Header - Footer Styles -------------------- */
  p,
  h1,
  h2,
  h3 {
    font-family: 'Open Sans';
  }
  h1 {
    font-weight: 400;
  }
  header,
  footer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
  }
  header .content-wrapper {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  main {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  /* ----- Top Nav Styles -----*/
  .topnav {
    background-color: #333;
    overflow: hidden;
    border-bottom: 7px solid #C962FF;
  }
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Open Sans';
  }
  .topnav a:hover,
  .topnav a.active {
    color: #C962FF;
  }
  .topnav .icon {
    display: none;
    font-size: 1.5em;
  }
  #about-me img {
    border-radius: 50%;
  }
/* -------------------- Mobile Styles -------------------- */

header,
main,
footer {
  margin: 0 auto;
}
.hero-area {
  background: url(../img/hero-area.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 812px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
.hero-area h1 {
  text-align: center;
  color: #FFFFFF;
  width: 90%;
}
.hero-area-button {
  color: #FFFFFF;
  font-family: 'Open Sans';
  padding: 10px 20px;
  border: 2px solid #FFFFFF;
  box-sizing: inherit;
  display: inline-block;
  font-size: 13pt;
  transition: all .5s;
  cursor: pointer; }
  .hero-area-button:hover {
    background-color: #C962FF;
    border-color: #C962FF;}
  .hero-area-button:hover .fa-arrow-right:before {
      content: "\f063";
  }
  .hero-area-button a{
    text-decoration: none;
    color: #FFF;
  }
/* Top Nav Styles */
@media screen and (max-width: 600px) {
  .topnav a {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
span {
  color: #C962FF;
}
#about {
  width: 85%;
  margin: 30px auto;
}
#about h2,
#about h3 {
  text-align: center;
}
/* ----- About ------------------*/

/* ----- Skills Section -----*/
.featured-skills {
  text-align: center;
}
.fontawesome-icon .fas {
  width: 100px;
  height: 100px;
  font-size: 3em;
  color: white;
  background-color: #C962FF;
  border-radius: 50%;
  padding-top: 25px;
  margin-top: 30px;
}
/* ----- About me Section -----*/
#about-me {
  text-align: center;
}
.about-info {
  margin-top: 75px;
}
.about-me-info a {
  text-decoration: none;
}
/* -----Skills Chart -----*/
#chart-container {
  margin: 50px auto;
}
.bar {
 	background: #7E2DA9;
 	width: 0;
 	margin: .25em 0;
 	position: relative;
 	 transition: width 2s, background .2s;
   -webkit-transform: translate3d(0,0,0);
 	 clear: both;
 }
 span.label {
		font-size: .75em;
		padding: .5em;
		background: #C962FF;
    color: #fff;
		width: 7em;
		display: inline-block;
		position: relative;
		z-index: 2;
		font-weight: bold;
    font-family: 'Open Sans';
  }
  span.count {
      color: #fff;
  }
  .count {
    position: absolute;
    right: .25em;
    top: .25em;
    padding: .15em;
    font-size: .75em;
    font-weight: bold;
    font-family: 'Open Sans';
  }

/* -----Work Section -----*/
#portfolio {
  width: 100%;
  height: 2000px;
  background: #F2F2F2;
  display: flex;
  flex-direction: column
}
#portfolio h2 {
  text-align: center;
  margin: 75px auto;
}
#modal.modal element.style {
  max-width: 375px;
}
.overflow-wrap {
  overflow-x: hidden; }

.button {
  padding: 10px 20px;
  border: 2px solid #C962FF;
  box-sizing: inherit;
  display: inline-block;
  font-size: 13pt;
  transition: all .5s;
  cursor: pointer; }
  .button:hover {
    background-color: #C962FF;
    border-color: #C962FF; }
  .button .fas {
    vertical-align: middle; }
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.highlight {
  color: #E31B6D; }

.carousel-wrap {
  position: relative;
  height: 250px;
  margin: 0 auto; }

.window {
  overflow: hidden;
  position: relative;
  background: #222; }

#carousel {
  width: 10000px;
  position: relative;
  top: 0; }

.slide {
  height: 250px;
  cursor: pointer;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.fa-chevron-left, .fa-chevron-right {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14pt !important;
  font-weight: bold;
  color: white; }

.fa-chevron-left {
  left: 0; }

.fa-chevron-right {
  right: 0; }

.transition {
  transition: .7s; }

.modal-wrap {
  height: 100vh;
  width: 100vw;
  position: fixed;
  pointer-events: none;
  z-index: 100; }
  .modal-wrap .mask {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity .3s; }
  .modal-wrap .modal {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    position: relative;
    transition: all .3s;
    transform: scale(0.8);
    opacity: 0;
    align-items: flex-start;
    text-align: left;
    box-sizing: border-box;
    color: #333;
    height: 100vh; }
  .modal-wrap .close {
    bottom: 20px;
    right: 20px;
    color: #bbb;
    font-size: 20pt;
    position: absolute;
    font-weight: 800;
    cursor: pointer; }
  .modal-wrap .info-box {
    border-top: 3px solid #1B242F;
    padding: 15px 10px 85px 10px;
    box-sizing: border-box;
    color: #444;
    font-family: 'Open Sans'; }
  .modal-wrap .title {
    font-size: 16pt;
    line-height: 20pt;
    font-family: 'Open Sans'; }
  .modal-wrap .tag {
    display: block;
    font-weight: 300;
    color: #c0c0c0;
    font-family: 'Open Sans';
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 15px;
    font-size: 8pt; }
  .modal-wrap .detail {
    font-size: 9pt;
    line-height: 14pt;
    margin-top: 13px; }
  .modal-wrap .fa-external-link-alt {
    position: relative;
    left: -10px;
    font-size: 11pt; }
  .modal-wrap .button {
    padding: 11px 30px;
    font-size: 10pt;
    transition: all .5s;
    cursor: pointer;
    background: #C962FF;
    color: #fff;
    font-weight: 600;
    border: 0;
    pointer-events: none;
    visibility: hidden;
    position: absolute;
    bottom: 20px;
    left: 10px; }
    .modal-wrap .button.visible {
      pointer-events: initial;
      visibility: visible; }
    .modal-wrap .button:hover {
      color: #C962FF;
      background: #fff; }
  .modal-wrap .carousel {
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25); }
  .modal-wrap.visible {
    pointer-events: initial; }
    .modal-wrap.visible .modal {
      transform: scale(1);
      opacity: 1; }
    .modal-wrap.visible .mask {
      opacity: 1; }

  .card:nth-child(n) {
   height: 200px;
   max-width: 100%;
   width: 100vw;
   cursor: pointer;
   transition: opacity .5s;  }
  #gallery .mix:nth-child(1)  {
    background: url(../img/thumb-1.png) center center/cover; }
  #gallery .mix:nth-child(2)  {
    background: url(../img/thumb-2.jpg) center center/cover; }
  #gallery .mix:nth-child(3)  {
    background: url(../img/thumb-3.jpg) center center/cover; }
  #gallery .mix:nth-child(4)  {
    background: url(../img/thumb-4.jpg) center center/cover; }
  #gallery .mix:nth-child(5)  {
    background: url(../img/thumb-5.jpg) center center/cover; }
  #gallery .mix:nth-child(6)  {
    background: url(../img/thumb-6.jpg) center center/cover; }
/* ----------*/

#gallery .text,
#gallery .button {
    z-index: 2;
    text-align: center;
    margin: 0 auto;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    font-family: 'Open Sans';
}
.bold {
  font-weight: bold;
  font-size: 18px;
}
.highlight {
  color: #C962FF;
  font-size: 14px;
}
/**/
#gallery .text {
    position: relative;
    top: -125px;
    /*left: 0;*/
    width: 100%;
}
#gallery .button {
    bottom: -75px;
    left: 0;
    position: absolute;
    right: 0;
    border: 2px solid #C962FF;
    font-size: 13pt;
    margin: 0 auto;
    padding: 7px 0;
    width: 170px;}
#gallery .mix:nth-child(n):hover .button{
  opacity: 1;
}
#gallery .mix:nth-child(n):hover .text{
  opacity: 1;
}
#gallery .mix:nth-child(n):hover {
  background: lightgrey;
  transition: 1s ease-in-out;
  transition-delay: .1s;
}
/*----- Contact Form -----*/
#contact {
  width: 100%;
  background: #232323;
  text-align: center;
  margin-bottom: 0;
}
#contact .content-wrapper {
  width: 85%;
  margin: 50px auto;
}
#contact h2 {
  color: #FFFFFF;
  margin-bottom: 50px;
}
#contact form {
  font-family: 'Open Sans';
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#contact form input,
#contact form textarea {
  color: #707070;
  background: #060606;
  border-style: solid;
  border-color: #060606;
  margin-top: 10px;
  margin-left: 5px;
  line-height: 1.5em;
}
#contact input[type=submit] {
  width: 35%;
  color: white;
  border-color: white;
}

footer {
  background: #060606;
}
footer .content-wrapper {
  width: 100%;
  text-align: center;
}
footer .fa-angle-double-up {
    position: relative;
    color: #FFFFFF;
    top: -25px;
    background: #C962FF;
    font-size: 30pt;
    width: 45px;
    height: 50px;
    line-height: 40pt;
    margin: 0 auto;
    cursor: pointer;
    transition: background .5s;
}
.social-icons {
  display: flex;
  justify-content: space-around;
}
.fab {
  font-size: 2em;
  color: #FFFFFF;
  background-color: #232323;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding-top: 8px;
}
a {
  font-family: 'Open sans';
  text-decoration: none;
  color: #FFFFFF;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
/*Tablet styles here*/
  .hero-area {
    min-height: 1024px;
  }
  .hero-area h1 {
    width: 60%;
  }
  .featured-skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  .featured-skills article {
    width: 40%;
    height: 325px;
    margin: 1em auto;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  article h3,
  article p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin-top: 25px;
  }
  #portfolio {
    height: 1100px;
  }
  #modal.modal element.style {
    max-width: 768px;
  }
  .flex {
    justify-content: center;
    align-items: center;
    flex-flow: row wrap; }
  .modal-wrap .modal {
      top: -6vh;
      height: initial;
  }
  .slide, .carousel-wrap {
    height: 450px; }
  .modal-wrap .info-box {
      padding: 35px 60px 90px 25px;
  }
  .modal-wrap .title {
    font-size: 22pt;
    line-height: 30pt;
  }
  .modal-wrap .tag {
    font-size: 11pt;
  }
  .modal-wrap .detail {
    font-size: 11pt;
    line-height: 18pt;
    margin-top: 15px;
  }
  .mix {
    max-width: 50%;
    max-height: 270px;
  }
  form {
    width: 50%;
    margin: 0 auto;
  }
  .social-icons {
    justify-content: center;
  }
  .social-icons p {
    padding: 0 25px 0 25px;
  }
}

@media only screen and (min-width: 1200px) {
/*Desktop styles here*/
  .hero-area {
    min-height: 1024px;
  }
  .hero-area h1 {
    width: 50%;
    margin: 30px auto;
  }
  #nav-bar nav {
    padding: 0 0 0 150px;
  }
  #about {
    max-width: 1200px;
  }
  .about-info {
    display: flex;
  }
  .featured-skills article {
    width: 20%;
    height: 375px;
    margin: 1em auto;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  #about-me {
    width: 45%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .about-me-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #chart-container {
    width: 45%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  #portfolio {
    height: 900px;
  }
  #gallery.flex {
    max-width: 1200px;
    margin: 0 auto;
  }
  #modal.modal element.style {
   max-width: 986px;
 }
  .mix {
   max-width: 33.33%;
   height: 300px;}
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
