/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   @import "compass/css3";

   @mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}
*{ box-sizing:border-box;}


   /* -------------------- Base Header - Footer Styles -------------------- */
  header,
  footer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
  }
  header .content-wrapper {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  main {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  .nav-bar nav {
    /*width: 60%;
    font-size: 1.125em;*/
    text-transform: uppercase;
    display: flex;
    /*justify-content: flex-start;*/
  }
  .nav-bar ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

/* -------------------- Mobile Styles -------------------- */

header,
main,
footer {
  margin: 0 auto;
  border: 1px black solid;
}
.hero-area {
  background: url(../img/hero-area.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 812px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
.hero-area h1 {
  text-align: center;
  color: #FFFFFF;
}
span {
  color: #C962FF;
}
#about,
#contact {
  width: 85%;
  margin: 30px auto;
}
#nav-bar {
  background-color: #060606;
  border-bottom: 7px solid #C962FF;
}
#nav-bar nav {
  width: 40%;
  /*font-size: 1.125em;
  font-weight: 700;*/
  text-transform: uppercase;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#nav-bar nav ul {
  width: 100%;
  padding: 0 0 0 30px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nav-bar a {
  text-decoration: none;
}
/* unvisited link */
#nav-bar a:link {
  color: white;
}
/* visited link */
#nav-bar a:visited {
  color: white;
}
/* mouse over link */
#nav-bar a:hover {
  color: #C962FF;
}
/* selected link */
#nav-bar a:active {
  color: #C962FF;
}
#about h2,
#about h3 {
  text-align: center;
}
.featured-skills p {
  text-align: center;
  /*margin: 0;*/
}
#about-me {
  text-align: center;
}
/* -----Skills Chart -----*/
#chart-container {
  margin: 30px auto;
}
.bar {
 	background: #7E2DA9;
 	width: 0;
 	margin: .25em 0;
 	position: relative;
 	 transition: width 2s, background .2s;
   -webkit-transform: translate3d(0,0,0);
 	 clear: both;
 }
 div:nth-of-type(2n) {
   background: #EEEEEE;
   /*background:lighten(#7E2DA9, 10% );*/
 }
 span.label {
		font-size: .75em;
		padding: 1em;
		background: #C962FF;
    color: #fff;
		width: 8em;
		display: inline-block;
		position: relative;
		z-index: 2;
		font-weight: bold;
		/*font-family: $fontSans;*/
}
&.light {
 	 	    background:lighten(#C962FF , 10% );
}
span.count {
      color: #fff;
}
.count {
    position: absolute;
    right: .25em;
    top: .75em;
    padding: .15em;
    font-size: .75em;
    font-weight: bold;
    /*font-family: $fontSans;*/
}

/* -----Work Section -----*/
#work {
  width: 100%;
  background-color: #F2F2F2;
}
#work .content-wrapper {
  text-align: center;
  margin: 40px auto 80px auto;
}
.gallery-wrapper {
  margin: 40px auto;
}
#rogue-pickings {
  background: url(../img/rogue-pickings-img.png);
  background-size: cover;
  background-position: center;
  min-height: 239px;
}
#unplugged {
  background: url("../img/unplugged-img.png");
  background-size: cover;
  background-position: center;
  min-height: 239px;
}
#accelerate {
  background: url("../img/accelerate-img.png");
  background-size: cover;
  background-position: center;
  min-height: 239px;
}
#whole-bean {
  background: url("../img/whole-bean-img.png");
  background-size: cover;
  background-position: center;
  min-height: 239px;
}
#dorthy {
  background: url("../img/dorothy-portfolio-img.png");
  background-size: cover;
  background-position: center;
  min-height: 239px;
}
#contact {
  text-align: center;
  margin-bottom: 0;
}
#contact form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#contact img {
  margin: 30px auto 0 auto;
}
footer .content-wrapper {
  width: 100%;
  text-align: center;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
/*Tablet styles here*/
  .hero-area h1 {
    width: 60%;
  }
  .featured-skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  .featured-skills article {
    width: 40%;
    height: 265px;
    margin: 1em auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  .gallery-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  #rogue-pickings {
    width: 50%;
    min-height: 248px;
  }
  #unplugged {
    width: 50%;
    min-height: 248px;
  }
  #accelerate {
    width: 50%;
    min-height: 248px;
  }
  #whole-bean {
    width: 50%;
    min-height: 248px;
  }
  #dorthy {
    width: 50%;
    min-height: 248px;
  }
  form {
    width: 50%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1200px) {
/*Desktop styles here*/
  .hero-area {
    min-height: 1024px;
  }
  .hero-area h1 {
    width: 40%;
  }
  #nav-bar nav {
    padding: 0 0 0 150px;
  }
  .featured-skills article {
    width: 20%;
    height: 265px;
    margin: 1em auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  #about-me {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  .about-me-info {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #chart-container {
    margin: 0;
  }
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
